<div class="diagnosis-modal">
  <!-- Header -->
  <div class="dialog-header-container">
    <div class="dialog-header">
      <div class="ds-brand-wrapper --medium">
        <img src="https://ds.cdn.questdiagnostics.com/assets/img/qd-brand--horizontal--green.svg" />
      </div>
    </div>
  </div>

  <!-- Diagnosis Information -->
  <div class="content">
    <div class="info-text">
      <h2 class="title">Confirm Diagnosis</h2>
      <p style="font-size: 16px;">
        The insurance carrier's policy includes the following diagnoses that <b>could</b> potentially support medical
        necessity. The selected diagnosis code must be applicable to the patient’s symptoms or conditions.
      </p>
    </div>
    <div class="search-container">
      <h1 class="title">{{chemName}}</h1>
      <div class="search-box">
        <div class="ds-input --icons --icon-left">
          <div class="ds-flex --start-center --row">
            <span class="ds-icon--search --left" aria-label="search"></span>
            <input class="search-input" type="text" id="label" [(ngModel)]="searchTerm"
              (ngModelChange)="filteredCoverage()" />
          </div>
          <label class="ds-input__label" for="label" aria-label="Static Input">
            <span style="color:#646464">Search for a diagnosis</span>
          </label>
        </div>
        <!-- <input type="text" class="search-input" placeholder="Search for a diagnosis" [(ngModel)]="searchTerm" (ngModelChange)="filteredCoverage()"> -->
        <div class="search-meta">
          <div class="diagnosis-count"><span style="font-size: 12px">Total results</span><br>
           <b> {{ selectedFilter === 'limited' ? limitedCoverage?.length : additionalSupportiveDiagnosis?.length }}
            possible diagnoses</b></div>
          <div class="filter-options">
            <label style="font-size: 12px">Filters</label>
            <div class="ds-flex">
              <button class="ds-button commonly-btn"
                [ngClass]="{'--primary blue-color': selectedFilter==='limited','--secondary': selectedFilter!=='limited'}"
                aria-label="button text" (click)="selectedFilter = 'limited'; filteredCoverage()">Commonly Used
              </button>
              <button class="ds-button all-btn"
                [ngClass]="{'--primary blue-color': selectedFilter==='all','--secondary': selectedFilter!=='all'}"
                aria-label="button text" (click)="selectedFilter = 'all'; filteredCoverage()">All

              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="ds-table --sortable">
      <thead>
        <tr class="ds-table__head">
          <th class="ds-table__head-th" (click)="toggleSortDesc()">Description</th>
          <th class="ds-table__head-th" style="text-align: right;" (click)="toggleSortCode()">ICD-10 Code</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ds-table__row" *ngFor="let test of filteredData" [class.selected]="selectedDiagnosis === test" (click)="selectDiagnosis(test)">
          <td class="ds-table__row-td">
            <div class="ds-input__radio">
              <input type="radio" name="radio" id="label-{{test.code}}" value="label">
              <label for="label-{{test.code}}">{{ test.description }}</label>
            </div>
          </td>
          <td class="ds-table__row-td" style="text-align: right;">
            <span>{{ test.code }}</span>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- Acknowledgment & Policy -->
    <p class="policy-text">
      Limited Coverage Policy has been acknowledged.
      <a href="javascript:void(0)" class="review-link" (click)="openPolicyPopup()">Review Policy</a>
      <br><br>
      After copying the diagnosis, click the “X” button to return to Epic and add the diagnosis to the patient’s chart.
    </p>

    <!-- Buttons -->
    <div class="buttons">
      <button class="ds-button --ghost --small" (click)="onBack()">Back</button> <!-- Call onBack() -->
      <button type="button" class="ds-button --primary" [ngClass]="{'--disabled': !selectedDiagnosis}"
        (click)="copyDiagnosisCode()">
        Copy Diagnosis and Close
      </button>
    </div>
  </div>