<div class="diagnosis-modal">
  <!-- Header -->
  <div class="dialog-header-container">
    <div class="dialog-header">
      <div class="ds-brand-wrapper --medium">
        <img src="https://ds.cdn.questdiagnostics.com/assets/img/qd-brand--horizontal--green.svg" />
      </div>
    </div>
  </div>

  <!-- Diagnosis Information -->
  <div class="content">
    <div class="info-text">
      <h2 class="title">Confirm Diagnosis</h2>
      <p>
          The insurance carrier’s policy includes the following diagnoses that COULD potentially support medical necessity.
          The selected diagnosis code must be applicable to the patient’s symptoms or conditions.
      </p>
    </div>
    <div class="search-container">
        <h1 class="title">{{chemName}}</h1>
        <div class="search-box">
          <input type="text" class="search-input" placeholder="Search for a diagnosis" [(ngModel)]="searchTerm" (ngModelChange)="filteredCoverage()">
          <div></div>            <div class="search-meta">
                <span class="diagnosis-count">Total results: <br>
                  {{ selectedFilter === 'limited' ? limitedCoverage?.length : additionalSupportiveDiagnosis?.length }}
                  possible diagnoses.</span>
                <div class="filter-options">
                  <button class="filter-btn" [ngClass]="{'--primary': selectedFilter==='limited','--secondary': selectedFilter!=='limited'}" (click)="selectedFilter = 'limited'; filteredCoverage()">Commonly Used</button>
                  <button class="filter-btn" (click)="selectedFilter = 'all'; filteredCoverage()">All</button>                  
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-content class="ds-col-12 dialog-content scrollable-content">
        <table class="diagnosis-table">
        <thead>
          <tr class="diagnosis-header">
            
            <th class="column-header" (click)="toggleSortDesc()">
              Description
              <span *ngIf="descIsAscending">↑</span>
              <span *ngIf="!descIsAscending">↓</span>
            </th>
            <th class="column-header" 
            (click)="toggleSortCode()"
            >ICD-10 Code
                <span *ngIf="codeIsAscending">↑</span>
              <span *ngIf="!codeIsAscending">↓</span>
            </th>
          </tr>
        </thead>
        <tbody>
            <tr class="diagnosis-row" 
            *ngFor="let test of filteredData" 
            [class.selected]="selectedDiagnosis === test"
            (click)="selectDiagnosis(test)">
                <td class="diagnosis-name">{{ test.description }}</td>
                <td class="diagnosis-code">{{ test.code }}</td>
            </tr>
        </tbody>
        </table>
    </mat-dialog-content>
    

    <!-- Acknowledgment & Policy -->
    <p class="policy-text">
      Limited Coverage Policy has been acknowledged. 
      <a href="javascript:void(0)" class="review-link" (click)="openPolicyPopup()">Review Policy</a>
    </p>
      

    <!-- Buttons -->
    <div class="buttons">
        <button class="btn back-btn" (click)="onBack()">Back</button> <!-- Call onBack() -->
        <button type="button" class="btn primary-btn" 
                [disabled]="!selectedDiagnosis" 
                (click)="copyDiagnosisCode()">
          Copy Diagnosis and Close
        </button>
    </div>
  </div>
</div>